.wrap {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*1ша картинка*/
.block_one {
    width: 100%;
    height: 50%;
}

.block_two {
    display: flex;
    width: 100%;
    height: 50%;
}

.block_two_one {
    width: 70%;
    height: 100%;
}

.block_two_two {
    width: 30%;
    height: 100%;
}

/*2-1 картинка*/
.header {
    height: 150px;
}

.main-container {
    height: 500px;
    display: flex;
}

.menu {
    margin: 10px;
    width: 30%;
    height: 480px;
}

.post-container {
    width: 70%;
    box-sizing: border-box;
}

.post {
    margin: 10px;
    height: 230px;
}

.footer {
    height: 150px;
}

/*2-2 картинка*/
.widgets {
    height: 30%;
}

.widgets-list {
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.widgets-box {
    width: 25%;
    margin: 20px 0;
}

.contact {
    height: 40%;
}

/*2га картинка*/
.top-box {
    height: 30%;
}
.top-box__header{
    height: 50%;
}
.top-box__nav{
    height: 50%;
}
.middle-box {
    height: 60%;
    display: flex;
}

.middle-box__main {
    width: 70%;
}
.middle-box__aside{
    width: 30%;
}

.down-box {
    height: 10%;
}