.wrap{
    width: 1920px;
    padding: 0 283px;
}
.df_jc_ac{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*color*/
.back__black{
    background-color: #0F2438;
}
.back__green{
    background-color: #E1EFD0;
}
.back__blue{
    background-color: #005BB9;
}
.back__dark-blue{
    background-color: #0C1A2A;
}
.back__white{
    background: #ffffff;
}
.image__color{
    color: #000000;
}
.text__color-dark{
    color: #0F2438;
}
.text__color-gray{
    color: #C2C5DA;
}
.text__color_yellow{
    color: #FFB800;
}
.text__color-white{
    color:#ffffff;
}
.text__color-blue{
    color: #005BB9;
}
.text__color-dark-gray{
    color: #717171;
}
/*text style*/
.text_nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.text_info{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.text_name_product{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.text_share{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.text_news_info{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.text_share_info{
    font-weight: 750;
    font-size: 16px;
    line-height: 23px;
}
.text__price__slider__big{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
}
.text__price__slider__little{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
}
.text__price__little{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
}
.text__price__big{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.text_slider-main{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
.text_slider-mark{
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
}
.text_category_dark{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}
/*item*/
.buttons{
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 6px;
    border: none;
    column-gap: 12px;
    color: #ffffff;
}
.selector{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: none;
    color:#FFFFFF;
}
.carousel-item-two{

}