.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.silver{
    background-color: silver;
}
.gold{
    background-color: gold;
}
.cornflower{
    background-color: cornflowerblue;
}
.skyblue{
    background-color: skyblue;
}
.purple{
    background-color: purple;
}